.title-container {
  text-align: center;
  display: block;

  h1 {
    display: inline-block;
    text-transform: uppercase;
    margin: 40px auto;
    border-bottom: 2px solid #1e2c4c;
    font-weight: 600;
    text-align: center;
  }
}
